bin/
tmp/
debug/
release/
Deleted/
Shipping/
__MACOSX/
ipch/
objfre_wxp_x86/
Target/
.vs/
packages/
GGVPacker_llvm/
.DS_Store
thumb.db
BuildLog.htm
*.user
*.pro.user*
*.sdf
*.opensdf
*.txt
*.exe
*.rar
buildfre_wxp_x86.*